body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #333;
}

.card{
    border-radius: 50px;
}

p {
    font-size: 1.1rem;
    color: #555;
}

.container {
    margin-top: 50px;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

div {
    border-radius: 50px;
}

.heart-icon-container {
    position: absolute;
    top: 7px;
    right: 62px;
    cursor: pointer;
}

.heart-icon-container2 {
    position: absolute;
    top: 7px;
    right: 12px;
    cursor: pointer;
}

.heart-icon {
    fill: none;
    stroke: #555;
    transition: fill 0.3s ease;
}

.heart-icon.filled {
    fill: red;
    stroke: red;
}

/* Media Queries for responsiveness */

@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1rem;
    }

    .container {
        margin-top: 30px;
    }

    .heart-icon-container {
        top: 5px;
        right: 20px;
    }

    .heart-icon-container2 {
        top: 5px;
        right: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .heart-icon-container {
        top: 5px;
        right: 15px;
    }

    .heart-icon-container2 {
        top: 5px;
        right: 5px;
    }

    .container {
        margin-top: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }
}
