body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.nav-link.active {
    font-weight: bold;
    color: #007bff !important;
}

h1 {
    color: #333;
}

.heart-icon-container {
    position: absolute;
    top: 7px;
    right: 20px;
    cursor: pointer;
}

.heart-icon {
    fill: none;
    stroke: #555;
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.heart-icon.filled {
    fill: red;
    stroke: red;
}

img {
    border-radius: 5px;
    max-width: 100%;
}

.card-body h5 {
    font-size: 1.2rem;
    color: #333;
}

.card-body p {
    font-size: 1rem;
    color: #666;
}
